{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'movies/style2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">


    <title>{{ movie.title }}</title>
    <style>
        a{
            text-decoration: none; /* Désactive le soulignement par défaut */
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <img src="{{ movie.poster_url }}" alt="Image de fond" class="background-image">
    <header class="navbar-container">
        <a href="#" class="logo">
            <i class='bx bxs-movie'></i>Movies
        </a>
        <ul class="navbar">
            <a href="{% url 'index' %}" >Accueil</a>
            <a href="{% url 'films' %}">Films</a>
            <a href="{% if user.is_authenticated %}{% url 'suggestion' %}{% else %}{% url 'login' %}{% endif %}">Pours-vous</a>
            <a href="{% url 'newsletter' %}">Newsletter</a>
        </ul>
        
        <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'login' %}{% endif %}" class="connexion">Profil</a>
         <!-- Conteneur dédié avec lien cliquable -->
          <a href="{% url 'panier' %}" class="shopping-bag">
            <i class='bx bx-shopping-bag'></i>
        </a>
    </header>

    <!-- Contenu principal -->
    <div class="home-text">
        <h1>{{ movie.title }}</h1>
        <p class="description">{{ movie.synopsis }}</p>
        <div class="details">
            <h5 class="genre">{{ movie.genre }}</h5>
            <span class="vertical-bar"></span>
            <h4 class="year">{{ movie.year }}</h4>
        </div>
            <!-- Affichage des étoiles -->
            <div class="box"> 
                <div class="stars">
                    {% for star in star_rating.full %}
                        <i class="bx {{ star }}"></i> <!-- Étoile pleine -->
                    {% endfor %}
                    
                    {% for star in star_rating.half %}
                        <i class="bx {{ star }}"></i> <!-- Étoile moitié pleine -->
                    {% endfor %}
                    
                    {% for star in star_rating.empty %}
                        <i class="bx {{ star }}"></i> <!-- Étoile vide -->
                    {% endfor %}
                </div>
                <p class="average-rating">({{ rating|floatformat:1 }}/5)</p>
            </div>
            <h5 class="price">{{ movie.price }} €</h5> 
            
            <!-- Affichage des étoiles -->
            <div class="box"> 
                
                <form method="POST" action="{% url 'submit_rating' movie.id %}">
                    {% csrf_token %}
                    <label for="rating">Donner une note :</label>
                    <select name="rating" id="rating" required style="background: none; border: none; color: rgb(107, 110, 113);">
                        <option value="1" style="background: none;">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit" style="border: none; background: none; color: aliceblue;">Noter</button>
                </form>
    
                
            </div>

            {% if movie.trailer_url %}
                                <!-- Bouton pour ouvrir la modal -->
                    <button class="btn btn-bande-annonce flex-shrink-0" type="button" onclick="openTrailerModal()">
                        <span class="bx bxs-videos"></span> Bande-annonce
                    </button>

                    <!-- Modal pour la bande-annonce -->
                    <div id="trailerModal" class="modal">
                        <div class="modal-content">
                            <!-- Bouton de fermeture -->
                            <span class="close" onclick="closeTrailerModal()">&times;</span>
                            
                            <!-- Intégration correcte de l'iframe avec l'URL YouTube -->
                            <iframe id="trailerFrame" 
                                    width="100%" 
                                    height="315" 
                                    src="https://www.youtube.com/embed/{{ movie.trailer_url|slice:'-11:' }}" 
                                    title="Bande-annonce" 
                                    frameborder="0" 
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
            {% endif %}


            {% if note_envoyee %}
            <!-- Modale Bootstrap -->
            <div class="modal fade show" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ratingModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Votre note a bien été prise en compte !
                </div>
                <div class="modal-footer">
                    
                    <a href="{% url 'movie_detail' movie.id %}">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                    </a>
                </div>
                </div>
            </div>
            </div>
            {% endif %}

            


            

          
            
            
            
            
            


            
            
    </div>

    <!-- Affichage de l'affiche du film -->
    <div class="image">
        {% if movie.poster_url %}
            <img class="film-image" src="{{ movie.poster_url }}" alt="Affiche de {{ movie.title }}">
            <!-- Icône de cœur cliquable -->
            <i class="bx bx-heart heart-icon" 
            id="heart-icon-{{ movie.id }}" 
            onclick="addToWishlist({{ movie.id }})">
        </i>

            <div class="d-flex">
                
                <button class="btn btn-add-to-cart flex-shrink-0" type="button" onclick="addToCart({{ movie.id }})">
                    <i class="bi-cart-fill me-1"></i> Ajouter au panier
                </button>
                
            </div>
        {% else %}
            <p>Aucune affiche disponible pour ce film.</p>
        {% endif %}
        
        <span class="vertical-bar-film"> </span>
     <!-- Texte et icône à droite de la barre verticale -->
    
 
    </div>
    
    {% if related_movies %}
    <section>
        <h2 id="h2">Dans le même genre</h2>
        <i class='bx bx-chevron-left'></i>
        <i class='bx bx-chevron-right'></i>
        <div class="cards">
            {% for similar_movie in related_movies %}
                <a href="{% url 'movie_detail' similar_movie.id %}" class="card">
                    {% if similar_movie.poster_url %}
                        <img src="{{ similar_movie.poster_url }}" alt="Affiche de {{ similar_movie.title }}" class="poster">
                    {% else %}
                        <img src="path/to/default-image.jpg" alt="Image non disponible" class="poster">  <!-- Image par défaut si aucune affiche n'est disponible -->
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </section>
{% else %}
    <p>Aucun film similaire disponible.</p>
{% endif %}


    <section>
    <footer class=" text-white" style="color: aliceblue; background-color: rgb(0,0,0,0.5); height: 150px; margin-top: 50px;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
       <p>Contactez-nous via : filmsPM@log.com</p>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">filmsPM.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</section>  

<script>

    function addToWishlist(movieId) {
        // Effectuer l'appel AJAX vers l'URL pour ajouter à la wishlist
        fetch(`/movie/${movieId}/add_to_wishlist/`, {
            method: 'GET', // Utilise GET ou POST en fonction de ton choix
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // Gérer la réponse JSON
            if (data.status === "success") {
                alert(data.message);  // Affiche le message de succès
                document.getElementById(`heart-icon-${movieId}`).classList.add("bxs-heart"); // Change l'icône en cœur plein
            } else {
                alert("Il y a un problème, veuillez réessayer.");
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("Une erreur s'est produite.");
        });
    }

    function addToCart(movieId) {
    // Effectuer l'appel AJAX vers l'URL pour ajouter au panier
    fetch(`/add_to_cart/${movieId}/`, {  // Passer l'ID du film dans l'URL
        method: 'POST',  // Méthode POST
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',  // Assurer que le token CSRF est envoyé
        },
        body: JSON.stringify({ "movie_id": movieId })  // Données envoyées avec l'ID du film
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            alert(data.message);
        } else {
            alert("Il y a un problème, veuillez réessayer.");
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("Une erreur s'est produite.");
    });
    }

    function openTrailerModal() {
    var modal = document.getElementById("trailerModal");
    modal.style.display = "block";
    }

    function closeTrailerModal() {
        var modal = document.getElementById("trailerModal");
        modal.style.display = "none";
    }



</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

   
</body>

</html>
