<!-- home.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil !</h1>
    
    <p>Bienvenue sur notre site. Vous pouvez vous connecter ou vous inscrire pour commencer.</p>

    <p><a href="{% url 'login' %}">Se connecter</a> | <a href="{% url 'register' %}">S'inscrire</a>|<a href="{% url 'index' %}">Accueil</a></p>
</body>
</html>
