
<header class="navbar-container">
    <a href="#" class="logo">
        <i class='bx bxs-movie'></i>Movies
    </a>
    <ul class="navbar">
        <li><a href="{% url 'index' %}" class="acceuil-active">Accueil</a></li>
        <li><a href="#">Films</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Newsletter</a></li>
    </ul>
    <div class="recherche">
        <i class='bx bx-search-alt-2'></i>
        <input type="text" placeholder="Rechercher..." id="recherche_input">
    </div>
    <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'login' %}{% endif %}" class="connexion">Profil</a>

</header>
